<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="NeighbourhoodExcelFileLocation" value="C:\Users\dtripathi\Desktop\Neighbour.xlsx" />
    <add key="NeighbourhoodTextFileLocation" value="C:\Users\dtripathi\Desktop\NeighborhoodCoordinatesList.txt" />
    <add key="ExceptionLoggingFileLocation" value="C:\Users\dtripathi\Desktop\ExceptionLogFile.txt" />
    <add key="SqlConnectionString" value="user id=sa;password=test123!@#;server=localhost;trusted_Connection=yes;database=GeographyDataNeighbourhoodCoordinates" />
  </appSettings>
</configuration>